
.search {
    padding: 1rem;
    max-width: 600px;
}

.searchContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#invite {
    background-color: rgb(35, 109, 179);
    padding: 1rem;
    margin-left: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

#invite:hover{
    background-color: rgb(26, 81, 133);
}

.foot {
    display: flex;
    justify-content: space-between;
}

#learn {
    opacity: 50%;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border-radius: 10px;
}

#learn:hover {
    background-color: dimgrey;
    transition: 0.7s;
}

#link {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border-radius: 10px;
}

#link:hover {
    background-color: rgb(210, 203, 203);
    transition: 0.7s;
}