.container {
  display: flex;
  align-items: center;
  height: 100%;
}

.MuiButton-outlinedPrimary{
  color: black !important;
  border: 1px solid black !important;
}

.MuiTabPanel-root	{
  width: 100%;
  height: 100%;
}